*.py[co]
# Add Ren'Py-specific compiled files as well.
*.rpy[cb]
*.bak
# Ren'Py error log output
errors.txt

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
